.container{
    text-align: center;
    color: grey;
}

.linkContainer{
  background: var(--main-bg-color);
  width: var(--container-width);
  padding: 5px;
  margin-bottom: 20px;
  border-radius: 10px;
  border: 2px dashed var(--border-color);
}

.linkContainer img {
    position: absolute;
    right: 40px;
    bottom: 30px;
    cursor: pointer;
}