@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400&display=swap');
:root {
  --main-bg-color: #eff5fe;
  --container-width: 500px;

  --border-color: #0288d147;
  --sub-color: #2196f3;
  --error: #ff4a4a;
}

body,
html, .main {
  background: var(--main-bg-color);
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  font-family: 'Poppins', sans-serif;
  
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}

.background-image{
  height: 50vh;
  width: 50vh;

  position: absolute;
  z-index: -2;

  bottom: 10px;
  right: 40px;
}

.toast-div{
  position: absolute;
  z-index: 3;
  bottom: 40px;

  /* transform: translateY(50px); */
  transition: transform ease-in-out 0.4s;
}
