:root {
  --main-bg-color: #eff5fe;
}

body,
html {
  background: var(--main-bg-color);
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
}

.center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
