@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400&display=swap');
:root {
  --main-bg-color: #eff5fe;
  --container-width: 500px;

  --border-color: #0288d147;
  --sub-color: #2196f3;
  --error: #ff4a4a;
}

body,
html {
  background: var(--main-bg-color);
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  font-family: 'Poppins', sans-serif;
  
}

.center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
